.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1.2rem;

  box-sizing: border-box;
  height: 100vh;

  border: .1rem white solid;
}

header {
  padding: 1rem;
  grid-column: span 2;
}

.gameboard {
  padding: 1rem;
  grid-column: span 2;
}
